
<div>
  <h2>Log-In</h2>
  <form [formGroup]="myForm" class="ui form" (ngSubmit)='onSubmit(myForm.value)'>
    <div class="field">
      <label for='emailInput'>E-mail</label>
      <input formControlName="email" type="text" name="email" placeholder="e-mail">
    </div>
    <div class="field">
      <label for="passwordInput">Password</label>
      <input formControlName="password" type="text" name="password" placeholder="password">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
<div>
