
<!-- <div>
  <form action="/action_page.php">
  First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
      Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    <input type="submit" value="Submit">
  </form>

</div> -->





<!-- <form class="ui form" [formGroup]="form">
    <sm-loader [complete]="!formSubmited" class="inverted" text="Loading..."></sm-loader>
    <div class="field">
	    <sm-input label="Name" [control]="form.controls.nameControl" placeholder="Enter name..."></sm-input>
    </div>
    <div class="field">
	    <sm-input label="E-mail" [control]="form.controls.emailControl" placeholder="Enter e-mail..."></sm-input>
    </div>
    <div class="field">
	    <sm-checkbox label="I agree to the Terms and Conditions" [control]="agreeControl"></sm-checkbox>
    </div>
    <sm-button (click)="submit()" [disabled]="!form.valid" class="primary">Login</sm-button>
</form> -->


<div>
  <h2>Log-In</h2>
  <form class="ui form">
    <div class="field">
      <label>E-mail</label>
      <input type="text" email="email" placeholder="e-mail">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="password">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
<div>
