<div class="page-header">
  <div class="container" text-align="center">
    <h1 text-align="center">SupSeasonal</h1>
    <div class="navLinks">

      <!--Router sample here  -->
      <div><h1>Let's try routes</h1></div>
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/login']">LogIn</a>
      <a [routerLink]="['/register']">Register</a>
      <a [routerLink]="['/mainsearch']">Search Ingredients</a>
    </div>
  </div>
</div>


<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
    <app-talkapi></app-talkapi>
  </div>
</div>
