<div class="page-header">
  <div class="container" text-align="center">
    <h1 align="center">SupSeasonal</h1>
    <div class="navLinks">



    <div class="ui five item menu">
      <a class="item" [routerLink]="['/home']">Home</a>
      <a class="item" [routerLink]="['/login']">LogIn</a>
      <a class="item" [routerLink]="['/register']">Register</a>
      <a class="item" [routerLink]="['/mainsearch']">Search Ingredients</a>
      <a class="item" [routerLink]="['/talkapi']">HTTP-Example</a>
    </div>
  </div>
</div>
</div>


<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
