<div>
  <h2>Register</h2>
  <form class="ui form">
    <div class="field">
      <label>E-mail</label>
      <input type="text" email="email" placeholder="e-mail">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="password">
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
<div>
