
<div class="ui segment">
  <div class="eight wide column">
  <div class="ui search selection dropdown" suiDropdown [(isOpen)]="isOpen" [isDisabled]="isDisabled">
    <div class="text">Select A Month</div>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
      <div class="item" data-value="jan">January</div>
      <div class="item" data-value="feb">February</div>
      <div class="item" data-value="mar">March</div>
      <div class="item" data-value="apr">April</div>
      <div class="item" data-value="may">May</div>
      <div class="item" data-value="jun">June</div>
      <div class="item" data-value="jul">July</div>
      <div class="item" data-value="aug">August</div>
      <div class="item" data-value="sep">September</div>
      <div class="item" data-value="ocy">October</div>
      <div class="item" data-value="nov">November</div>
      <div class="item" data-value="dec">December</div>
    </div>
  </div>
  </div>
</div>
