
  <div class="eight wide column">
  <div class="ui search selection dropdown" suiDropdown [(isOpen)]="isOpen" [isDisabled]="isDisabled">
      <form #f="ngForm"
            (ngSubmit)="onSubmit(f.value)">
            <label for="monthSelector">Select A Month</label>
            <select id="monthSelector" class="" name="queryMonth" ngModel>Select A Month
              <option *ngFor="let month of months">{{month}}</option>
            </select>
            <button type="submit" class="ui button">Submit</button>
      </form>
    </div>
  </div>


<!-- <div class="ui segment"> -->
  <!-- <div class="eight wide column">
  <form #f="ngForm"
        (ngSubmit)="onSubmit(f.value)">
        <label for="monthSelector">Select A Month</label>
        <select id="monthSelector" class="" name="queryMonth" ngModel>Select A Month
          <option *ngFor="let month of months">{{month}}</option>
        </select>
        <button type="submit" class="ui button">Submit</button>
  </form>
</div> -->
<!-- </div> -->
