<!-- <div align="center">
<h1> Welcome to SupSeasonal!!</h1>
<p>The site were you will find a list of seasonally
  fresh ingredients when you search by a particular month. </p>
</div> -->
<div class="ui three item menu">
  <a class="active item">Home</a>
  <a class="item">Registration</a>
  <a class="item">Search By Season</a>
</div>


<div class="ui raised very padded text container segment">
  <h2 class="ui header" align='center'> Welcome to SupSeasonal!!</h2>
  <p>The site were you will find a list of seasonally
    fresh ingredients when you search by a particular month. </p>
    <div align="center">
        <a href="url">Register</a>
        <br>
        <a href="url">LogIn</a>
    </div>
</div>
