<div class="outerbox">
  <div align="center" class="ui raised very padded text container segment" id="box">
    <h2 class="ui header" align='center'> Welcome to SupSeasonal!!</h2>
    <p>The site were you will find a list of seasonally
      fresh ingredients when you search by a particular month. </p>
      <div align="center">
          <a class="item" [routerLink]="['/login']">LogIn</a>
          <br>
          <a class="item" [routerLink]="['/register']">Register</a>
      </div>
  </div>
</div>
